<div class="row">
  <div class="col-xs-8">
    <h1>Контрагенты (<%= render html: @counterparties.count %>)</h1>
  </div>
  <div class="col-xs-4">
    <div class="pull-right">
      <%= link_to 'Новый', new_counterparty_path, class: 'btn btn-primary btn-sm mg-top-24' %>
    </div>
  </div>
</div>
<%= will_paginate @counterparties, renderer: BootstrapPagination::Rails %>
<table class="table table-bordered table-hover">
  <%= render 'counterparties/thead' %>
  <%= render 'counterparties/counterparty' %>
</table>
<%= will_paginate @counterparties, renderer: BootstrapPagination::Rails %>